@import url('oxygen/font-face.css');
@import url('inconsolata/font-face.css');

html, body {
  height: 100% ;
}

body {
  margin: 0 ;
  font-family: Oxygen, sans-serif ;
  background-color: hsl( 0, 0%, 96% );
}

.menu {
  text-align: center ;
  background: linear-gradient( to right, #0082D9, #00B7FF 60%, #29CDFF ) ;
  color: #fff ;
  box-shadow: 0 0 6px #000 ;
}

.menu-item {
  display: inline-block ;
  font-size: 24px ;
  margin: 0 10px ;
  padding: 0 12px ;
  cursor: pointer ;
  background-color: transparent ;
  transition: background-color .4s ;
  line-height: 60px ;
}

.menu-item:hover {
  background-color: rgba( 0, 0, 0, 0.4 ) ;
}

.container {
  margin: 0 120px ;
  transition: opacity .4s ;
}

.container.hidden {
  opacity: 0 ;
}

.card {
  margin: 16px 0px ;
  padding: 16px ;
  font-size: 22px ;
  background-color: #fff ;
  box-shadow: 0 0 2px rgba( 0, 0, 0, 0.2 ) ;
  border-radius: 4px ;
  line-height: 1.6 ;
  box-sizing: border-box ;
  position: relative ;
  transition: opacity .4s ;
}

.card.hidden {
  opacity: 0 ;
}

.alert, .warning {
  background-color: #E8392C ;
  color: #fff ;
  cursor: pointer ;
}

.warning {
  background-color: #FFB10A ;
}

.button-close {
  position: absolute ;
  top: 16px ;
  right: 16px ;
  height: 16px ;
  width: 16px ;
  font-size: 120% ;
  padding: 4px ;
  border-radius: 4px ;
  background-color: transparent ;
  transition: color .4s, background-color .4s ;
  cursor: pointer ;
}

.button-close:before {
  content: '\2715' ;
  position: absolute ;
  left: 50% ;
  top: 50% ;
  transform: translate( -50%, -50% ) ;
}

.button-close:hover {
  color: #E8392C ;
  background-color: #fff ;
}

.warning .button-close:hover {
  color: #FFB10A ;
}

.button {
  color: #00B7FF ;
  background-color: #fff ;
  border-radius: 4px ;
  box-shadow: 0 0 4px rgba( 0, 0, 0, 0.4 ) ;
  padding: 4px 24px ;
  cursor: pointer ;
  font-weight: bold ;
  transition: color .4s, background-color .4s ;
  display: inline-block ;
  margin: 4px 8px ;
}

.button:hover {
  background-color: #00B7FF ;
  color: #fff ;
}

.button-red {
  color: #E8392C ;
}

.button-red:hover {
  background-color: #E8392C ;
}

.button-generate {
  position: absolute ;
  bottom: 16px ;
  right: 16px ;
  margin: 0 ;
}

.close-wrapper {
  overflow: hidden ;
  transition: height .4s, margin .4s ;
}

.passcard, .savecard, .learncard {
  text-align: center ;
}

.passcard .pass,
.storecard .pass,
.learncard .pass {
  display: inline-block;
  padding: 4px 32px;
  margin: 0 8px ;
  background-color: #29CDFF;
  border: 1px solid #00B7FF;
  border-radius: 4px;
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 32px ;
  letter-spacing: 2px ;
}

.learncard .pass {
  background-color: transparent ;
  color: inherit ;
  margin: 12px 0 ;
}

.learncard .pass .right {
  color: #00B7FF ;
}

.learncard .pass .wrong {
  color: #E8392C ;
}

.vaultgencard {
  text-align: center ;
}

.vaultgencard table {
  display: inline-block ;
}

.vaultgencard td {
  padding: 4px ;
}

.vaultgencard td:first-child {
  text-align: left ;
}

.vaultgencard td:last-child {
  text-align: right ;
}

.vaultcard, .storecard {
  text-align: right;
}

.vaultcard > div,
.storecard > div {
  display: inline-block;
}

.vaultcard > div:first-child,
.storecard > div:first-child {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate( 0, -50% );
}

.createcard, .importcard, .card.confirm, .card.learnhub {
  text-align: center;
}

.card.learnhub > div {
  margin-bottom: 8px ;
}

input[type='number'] {
  width: 120px;
  text-align: center;
  margin: 0 8px;
}

input {
  border: 1px solid rgba( 0, 0, 0, 0.4 ) ;
  transition: border-color .4s ;
  border-radius: 4px ;
  font-size: 22px;
  font-family: Oxygen, sans-serif;
  padding: 4px ;
}

input:focus {
  outline: none ;
  border-color: #00B7FF ;
}